<nav>
    <ul>
        <!-- <li>Home</li>
        <li>Contact</li>
        <li>About</li> -->
        
        <li> <a href="/">Home</a></li>
        <li><a href="{% url 'doc_patient:appointment_2' %}" target="_blank" rel="noopener noreferrer">Appointment</a> </li>
        <li><a href="{% url 'doc_patient:profile' %}" target="_blank" rel="noopener noreferrer">Profile</a> </li>
        <li><a href="/" >Logout</a> </li>
        <li><a href="/shop" target="_blank" rel="noopener noreferrer">Dental Shop</a> </li>
        <li><a href="/shop" target="_blank" rel="noopener noreferrer">Your Order</a> </li>
        <li><a href="/" >online doctors</a> </li>
    </ul>
</nav>