<!DOCTYPE html>
<html>
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  grid-auto-columns: auto;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

    
<div class="card"><div class="float-child">
  <img src="static/images/download1.jpeg"  style="width:100%">
  <h1>Product-1</h1>
  <p class="price">$19.99</p>
  <p>Some text about the Product. comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
  
</div><br>
<div class="card">
  <img src="static/images/images2.jpeg"  style="width:100%">
  <h1>Product-2</h1>
  <p class="price">$19.99</p>
  <p>Some text about the product.and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
  
</div> <br>
<div class="card">
    <img src="static/images/images3.jpeg"  style="width:100%">
    <h1>Product-3</h1>
    <p class="price">$19.99</p>
    <p>Some text about the product and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
    <p><button>Add to Cart</button></p>
   
  </div> <br>

</body>
</html>
