<html>
  <head>
  
    <meta charset="utf8">
    <title>Space Widget Demo</title>
    <link rel="stylesheet" href="https://code.s4d.io/widget-space/latest/main.css">
  </head>
  <body>
    <div style="width: 500px; height: 500px;"
        data-toggle="ciscospark-space"
        data-access-token="ODVkY2MwYTYtODM0Zi00YWUzLWEwN2EtOTZlNmYxNGY3YzQ5YjMyMWU4ZTAtOTA2_PF84_consumer"
        data-to-person-email="adayma@cs.iitr.ac.in"
     > </div>
    <script src="https://code.s4d.io/widget-space/latest/bundle.js"></script>
  </body>
</html>