<nav>
    <ul>
        <!-- <li>Home</li>
        <li>Contact</li>
        <li>About</li> -->
        
        <li> <a href="http://127.0.0.1:8000/"  >Home</a>  </li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">Appointment</a> </li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">Profile</a> </li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">Record</a> </li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">Dental Shop</a> </li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">Your Order</a> </li>
        <li><a href="http://" target="_blank" rel="noopener noreferrer">online doctors</a> </li>
    </ul>
</nav>