body{
background :url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fmedical-background&psig=AOvVaw1yfGrPYWLSVXRBz9mFMZMj&ust=1590562865636000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNDD4sn60OkCFQAAAAAdAAAAABAd);
background-size:cover;
background-repeat:no-repeat;
color:black;
}

